@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;



/* === Dot Pagination Custom === */
.swiper-pagination-bullet {
  background-color: #9ca3af !important; /* gray-400 */
  opacity: 0.6;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #d1d5db !important; /* gray-300 */
  opacity: 1;
}

.swiper-pagination {
  bottom: 16px !important;
}





