@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Reset CSS cơ bản */


/* Font và background toàn cục */
/* html, body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;  
  color: #000000;            
} */

/* Các thẻ phổ biến */





/* === Dot Pagination Custom === */
.swiper-pagination-bullet {
  background-color: #9ca3af !important; /* gray-400 */
  opacity: 0.6;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #d1d5db !important; /* gray-300 */
  opacity: 1;
}

.swiper-pagination {
  bottom: 16px !important;
}





