/* ======= SLIDER BASE ======= */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  pointer-events: auto;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  height: 6px;
  background: transparent;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #03a9f4; /* màu xanh như hình */
  border: 3px solid white;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  cursor: pointer;
  margin-top: -6px; /* căn thumb vào giữa track */
}

input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #03a9f4;
  border: 3px solid white;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  cursor: pointer;
}

